{% load i18n %} {% load static %} {% load embed_video_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pesme</title>
    <link
      rel="icon"
      href="{% static 'image/mlinpek logo.png' %}"
      type="image/x-icon"
    />

    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  </head>
  <body>
    {%include 'store/nav.html'%} {% block content %}
    <h1>{% translate 'Pesme' %}</h1>
    <br />
    <br />
    <br />
    <h2>{% translate 'Pesme Nebojše Spasojevića:' %}</h2>

    <object
      data="https://docs.google.com/document/d/1sXO1nQn6ma_XYfaCgzIhwctVgTDYi90u"
      width="800"
      height="500"
      id="nesapesme"
    ></object>
    <br />
    <br />
    <br />

    <h2>{% translate 'Pesma Ankice Spasojević:' %}</h2>

    <div id="ankicavideo">
      {% for video in videos %} {% video video.url '826x440'%} {{video.title}}
      {%endfor%} {% endblock %}
    </div>

    <style>
      @media only screen and (min-width: 400px) and (max-width: 768px) {
        #nesapesme {
          width: 400px;
          height: 400px;
          margin-left: 5px;
        }
        #ankicavideo iframe {
          width: 400px;
          height: 400px;
          margin-left: 5px;
        }
      }
    </style>
  </body>
</html>
